.custom-class{
  float: left;
  width: 70%;
  padding: 10px;
}
.custom-class1{
  float: right;
  width: 30%;
  padding: 10px;
}
.container{
  border: 1px solid #ccc;
  padding: 30px;
  margin-left: 10px;
}
