<div class="row col-xs-12">

   <div class="container">

        <app-country-header #searchfun (eventClicked)="childEventClicked($event)"  (click)="accessFunc.getList();" (keyup.enter)="accessFunc.getSearch()"></app-country-header>

        <div class="row col-xl-12">
          <div class="col-xl-8 custom-class">
              <app-country-list [event]="clickedEvent" (click)="searchfun.ClearInput();"  #accessFunc></app-country-list>
          </div>
          <div class="col-xl-4 custom-class1">
              <router-outlet></router-outlet>
          </div>
        </div>
     </div>
 </div>
