<div class="row col-sm-12">
  <div class="col-sm-7 custom">
      <h2>Test Excercise</h2>
  </div>
<div class="col-sm-1">
    <input type="button" (click)="getEvent(europe)"  [class.active]="status"  value="eruope" name="eruope"
        class="btn">
    </div>
  <div class="col-sm-1">
    <input type="button"
        (click)="getEvent(asia)"
        value="asia"
        name="asia"
        class="btn" [class.active]="status" >
    </div>
  <div class="col-sm-3">
  <input type="text"
      [(ngModel)]="searchText"
      placeholder="Search countries"
      (keyup.enter)="getEvent(searchText)"
      class="form-control" minlength="2">
  </div>

</div>


<hr>

